:root {
  font-size: 62.5%;
}

img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  padding: 3rem 1.5rem;
  background: hsl(36, 100%, 99%);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  width: 15%;
}
.navbar .menu-handler {
  display: none;
}
.navbar .menu-handler:checked ~ .overlay {
  visibility: visible;
}
.navbar .menu-handler:checked ~ .list {
  transform: translateX(-100%);
}
.navbar .menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem;
}
.navbar .menu .overlay {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.navbar .menu .list {
  padding: 3rem 1.5rem;
  display: flex;
  align-items: end;
  flex-direction: column;
  font-size: 1.8rem;
  position: fixed;
  background: hsl(36, 100%, 99%);
  height: 100%;
  width: 70%;
  right: -70%;
  top: 0;
  z-index: 2;
}
.navbar .menu .list li {
  width: 100%;
}
.navbar .menu .list li:first-of-type {
  margin-top: 4rem;
}
.navbar .menu .list li:not(:last-of-type) {
  margin-bottom: 1.25rem;
}
.navbar .menu .list li .link {
  display: flex;
  width: 100%;
  padding: 0.8rem;
  color: hsl(240, 100%, 5%);
  transition: color 150ms ease;
}
.navbar .menu .list li .link:hover {
  color: hsl(5, 85%, 63%);
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
}
.main .section {
  padding-top: 3rem;
}
.main .section .article .header .title {
  color: hsl(240, 100%, 5%);
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 100%;
  margin: 2rem 0;
}
.main .section .article .header .description-informations {
  font-size: 1.4rem;
  color: hsl(236, 13%, 42%);
  line-height: 150%;
}
.main .section .article .header .description-button {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  background: hsl(5, 85%, 63%);
  margin-top: 2rem;
  padding: 0.4rem 3rem;
  position: relative;
  transition-property: color, background;
  transition-duration: 150ms;
  transition-timing-function: ease;
  overflow: hidden;
}
.main .section .article .header .description-button .title {
  font-weight: 700;
  font-size: 1.4rem;
  color: hsl(36, 100%, 99%);
  letter-spacing: 0.4rem;
  z-index: 2;
  white-space: nowrap;
}
.main .section .article .header .description-button .hover-background {
  position: absolute;
  background: hsl(240, 100%, 5%);
  left: -120%;
  top: 0;
  width: 120%;
  height: 100%;
  z-index: 1;
  transition: transform 150ms ease;
}
.main .section .article .header .description-button:hover > .hover-background {
  transform: translateX(100%);
}
.main .aside {
  padding: 2rem 2rem 0 2rem;
  background: hsl(240, 100%, 5%);
  height: -moz-max-content;
  height: max-content;
}
.main .aside .title {
  color: hsl(35, 77%, 62%);
  font-size: 3rem;
}
.main .aside ul li {
  padding: 1rem 0;
}
.main .aside ul li:not(:last-of-type) {
  border-bottom: 1px solid hsl(233, 8%, 79%);
}
.main .aside ul li .article-link {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
.main .aside ul li .article-link-subtitle {
  margin-bottom: 0.8rem;
  color: hsl(36, 100%, 99%);
  font-size: 1.9rem;
  transition: color 150ms ease;
}
.main .aside ul li .article-link-informations {
  line-height: 170%;
  font-size: 1.4rem;
  color: hsl(233, 8%, 79%);
}
.main .aside ul li .article-link:hover .article-link-subtitle {
  color: hsl(35, 77%, 62%);
}
.main .footer ul li {
  display: flex;
  align-items: center;
}
.main .footer ul li:not(:last-of-type) {
  margin-bottom: 2rem;
}
.main .footer ul li .image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  width: 100%;
  max-width: 12rem;
  overflow: hidden;
}
.main .footer ul li .image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.main .footer ul li .description .number {
  font-size: 3.2rem;
  color: hsl(233, 8%, 79%);
}
.main .footer ul li .description .link {
  display: flex;
  font-size: 1.8rem;
  font-weight: 800;
  color: hsl(240, 100%, 5%);
  padding: 0.5rem 0;
  transition: color 150ms ease;
}
.main .footer ul li .description .link:hover {
  color: hsl(5, 85%, 63%);
}
.main .footer ul li .description .informations {
  font-size: 1.4rem;
  color: hsl(236, 13%, 42%);
  line-height: 170%;
}

@media screen and (min-width: 375px) {
  .main .section .article .header .title {
    font-size: 4rem;
    width: 90%;
  }
  .main .section .article .header .description-informations {
    font-size: 1.5rem;
    line-height: 170%;
  }
  .main .aside ul li .article-link-subtitle {
    font-size: 2.1rem;
  }
  .main .aside ul li .article-link-informations {
    font-size: 1.5rem;
    width: 95%;
  }
  .main .footer ul li .image {
    max-width: 10rem;
  }
  .main .footer ul li .description .number {
    font-size: 3.4rem;
  }
  .main .footer ul li .description .informations {
    width: 95%;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 425px) {
  .navbar .menu .list {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  body {
    padding: 6rem 4rem;
  }
  .navbar .logo {
    width: 10%;
  }
  .navbar .menu .list {
    padding: 6rem 4rem;
    font-size: 4rem;
  }
  .navbar .menu .list li:first-of-type {
    margin-top: 8rem;
  }
  .navbar .menu .list li:not(:last-of-type) {
    margin-bottom: 3rem;
  }
  .main .section .article .header {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: "picture picture" "title description";
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
  }
  .main .section .article .header picture {
    grid-area: picture;
  }
  .main .section .article .header .title {
    font-size: 6rem;
    width: 100%;
    grid-area: title;
  }
  .main .section .article .header .description {
    grid-area: description;
  }
  .main .section .article .header .description-informations {
    font-size: 2rem;
  }
  .main .aside .title {
    font-size: 5rem;
  }
  .main .aside ul li .article-link-subtitle {
    font-size: 2.5rem;
  }
  .main .aside ul li .article-link-informations {
    font-size: 2rem;
  }
  .main .footer ul li .image {
    max-width: 16rem;
  }
  .main .footer ul li .description .number {
    font-size: 5rem;
  }
  .main .footer ul li .description .link {
    font-size: 3rem;
    padding: 1rem 0;
  }
  .main .footer ul li .description .informations {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  body {
    padding: 4rem 9rem;
  }
  .navbar {
    margin-bottom: 2rem;
  }
  .navbar .logo {
    width: 6%;
  }
  .navbar .menu-icon {
    display: none;
  }
  .navbar .menu .list {
    flex-direction: row;
    font-size: 2rem;
    position: static;
  }
  .navbar .menu .list li:first-of-type {
    margin-top: 0;
  }
  .navbar .menu .list li:not(:last-of-type) {
    margin-bottom: 0;
    margin-right: 1rem;
  }
  .navbar .menu .list li .link {
    color: hsl(236, 13%, 42%);
  }
  .main {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "section aside" "footer footer";
    grid-column-gap: 2rem;
  }
  .main .section {
    padding-top: 0;
    grid-area: section;
  }
  .main .section .article .header .title {
    font-size: 5rem;
    align-self: center;
  }
  .main .section .article .header .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main .section .article .header .description-informations {
    font-size: 1.6rem;
  }
  .main .aside {
    grid-area: aside;
  }
  .main .aside .title {
    font-size: 4rem;
  }
  .main .aside ul li .article-link-subtitle {
    font-size: 1.9rem;
  }
  .main .aside ul li .article-link-informations {
    font-size: 1.6rem;
  }
  .main .footer {
    grid-area: footer;
  }
  .main .footer ul {
    -moz-columns: 3;
         columns: 3;
  }
  .main .footer ul li {
    display: flex;
    align-items: start;
  }
  .main .footer ul li .image {
    width: 100%;
    max-width: 10rem;
  }
  .main .footer ul li .description .number {
    font-size: 3rem;
  }
  .main .footer ul li .description .link {
    font-size: 2rem;
    width: 100%;
    padding: 0;
  }
  .main .footer ul li .description .link:hover {
    color: hsl(5, 85%, 63%);
  }
  .main .footer ul li .description .informations {
    font-size: 1.4rem;
    color: hsl(236, 13%, 42%);
    line-height: 170%;
  }
}
@media screen and (min-width: 1440px) {
  body {
    padding: 4rem 9rem;
  }
  .navbar {
    margin-bottom: 3rem;
  }
  .navbar .logo {
    width: 6%;
  }
  .navbar .menu-icon {
    display: none;
  }
  .navbar .menu .list {
    flex-direction: row;
    font-size: 3rem;
    position: static;
  }
  .navbar .menu .list li:first-of-type {
    margin-top: 0;
  }
  .navbar .menu .list li:not(:last-of-type) {
    margin-bottom: 0;
    margin-right: 1rem;
  }
  .navbar .menu .list li .link {
    color: hsl(236, 13%, 42%);
  }
  .main {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "section aside" "footer footer";
    grid-column-gap: 2rem;
  }
  .main .section {
    padding-top: 0;
    grid-area: section;
  }
  .main .section .article .header .title {
    font-size: 7rem;
    align-self: center;
  }
  .main .section .article .header .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main .section .article .header .description-informations {
    font-size: 2rem;
  }
  .main .aside {
    grid-area: aside;
  }
  .main .aside .title {
    font-size: 6rem;
  }
  .main .aside ul li .article-link-subtitle {
    font-size: 2.3rem;
  }
  .main .aside ul li .article-link-informations {
    font-size: 2rem;
  }
  .main .footer {
    grid-area: footer;
  }
  .main .footer ul {
    -moz-columns: 3;
         columns: 3;
  }
  .main .footer ul li {
    display: flex;
    align-items: start;
  }
  .main .footer ul li .image {
    width: 100%;
    max-width: 14rem;
  }
  .main .footer ul li .description .number {
    font-size: 4rem;
  }
  .main .footer ul li .description .link {
    font-size: 3rem;
    width: 100%;
    padding: 0;
  }
  .main .footer ul li .description .link:hover {
    color: hsl(5, 85%, 63%);
  }
  .main .footer ul li .description .informations {
    font-size: 2rem;
    color: hsl(236, 13%, 42%);
    line-height: 170%;
  }
}/*# sourceMappingURL=index.css.map */